<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RL Sped</title>

    <link href="static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block content %}
    {% endblock %}

    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/transports.js"></script>
    <script src="/static/js/findClient.js"></script>
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    -->

</body>
</html>
